{% extends 'base.html' %}

{% load static %}

{% block title %}Booking Room{% endblock %}

{% block content %}
{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}
<form id="booking-form" method="post">
    {% csrf_token %}
    <input type="hidden" name="room_id" value="{{ initial_data.room_id|default:room.id }}">
    <input type="text" name="name" placeholder="Имя" required value="{{ initial_data.name|default:'' }}">
    <input type="text" name="surname" placeholder="Фамилия" required value="{{ initial_data.surname|default:'' }}">
    <input type="number" name="age" placeholder="Возраст" required value="{{ initial_data.age|default:'' }}">
    <input type="text" name="phone" placeholder="Телефон" required value="{{ initial_data.phone|default:'' }}">
    <input type="date" id="check_in_date" name="check_in_date" placeholder="Дата въезда" required value="{{ initial_data.check_in_date|default:'' }}">
    <input type="date" id="check_out_date" name="check_out_date" placeholder="Дата выезда" required value="{{ initial_data.check_out_date|default:'' }}">
    <button type="submit">Забронировать</button>
</form>
{% endblock %}


