{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block head %}
<script src="{% static 'booking_app/js/validation.js' %}" defer></script>
<link type="text/css" href="{% static 'booking_app/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<main class="container">
    <div class="contact-section">
        <h2>Контакты</h2>
        <div class="contact-info">
            <h3>Адрес:</h3>
            <p>649109 Республика Алтай, Майминский район, село Урлу-Аспак</p>

            <h3>Телефон:</h3>
            <p>+7 (999) 139-59-54</p>

            <h3>Местоположение на карте:</h3>
            <!-- Вставьте сюда HTML для встраивания карты от Google Maps -->
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9894.831513577494!2d86.20603126668995!3d51.68348995359131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42c5b6e86408cce5%3A0x2bef7841ff7d782e!2z0KPRgNC70YMt0JDRgdC_0LDQuiwg0KDQtdGB0L8uINCQ0LvRgtCw0LksINCg0L7RgdGB0LjRjywgNjQ5MTA5!5e0!3m2!1sru!2snl!4v1708031288173!5m2!1sru!2snl"
                        width="600"
                        height="450"
                        style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>
    </div>
</main>
{% endblock %}




