payment_confirmation.html:
{% extends 'base.html' %}

{% block title %}
<title>Подтверждение оплаты</title>
{% endblock %}

{% block content %}
<h2>Подтверждение оплаты</h2>
{% if discount_message %}
    <p><strong>Сообщение:</strong> {{ discount_message }}</p>
{% endif %}
<form action="{% url 'process_payment' booking_id=booking_id %}" method="post">
    {% csrf_token %}
    <p>Общая стоимость: {{ total_cost }}</p>
    <label for="payment_method">Выберите метод оплаты:</label>
    <select name="payment_method" id="payment_method">
        <option value="credit_card">Кредитная карта</option>
        <option value="bank_transfer">Банковский перевод</option>
    </select>
    <button type="submit">Оплатить</button>
</form>
{% endblock %}