{% extends 'base.html' %}

{% block title %}Оплата успешно проведена{% endblock %}

{% block content %}
{% if request.session.booking_info %}
    <h2>Оплата бронирования успешно проведена</h2>
    <p>Бронирование номера: {{ request.session.booking_info.room_number }}</p>
    <p>Дата заезда: {{ request.session.booking_info.check_in_date }}</p>
    <p>Дата выезда: {{ request.session.booking_info.check_out_date }}</p>
    <p>Итого дней: {{ request.session.booking_info.total_nights }}</p>
    <p>К оплате: {{ request.session.booking_info.total_cost }} руб.</p>
    <a href="{% url 'home' %}">Вернуться на главную страницу</a>
{% else %}
    <p>Информация о бронировании не найдена. Пожалуйста, начните процесс бронирования заново.</p>
{% endif %}
{% endblock %}
