{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Ресторан отеля</title>
{% endblock %}

{% block head %}
<script src="{% static 'booking_app/js/validation.js' %}" defer></script>
{% endblock %}

{% block content %}
<main class="container">
    <div class="grid">
        <section>
            <hgroup>
                <h2>Добро пожаловать в ресторан нашего отеля</h2>
                <h3>Исключительные вкусы</h3>
            </hgroup>
            <p>Наш ресторан предлагает изысканные блюда местной и интернациональной кухни, приготовленные из свежайших ингредиентов. Погрузитесь в атмосферу гастрономического наслаждения и уютного интерьера.</p>
            <figure>
                <img src="{% static 'booking_app/images/restaurant_1.jpg' %}" alt="Зал ресторана" onclick="openModal(this.src)">
                <img src="{% static 'booking_app/images/restaurant_2.png' %}" alt="Зал ресторана" onclick="openModal(this.src)">
                <img src="{% static 'booking_app/images/restaurant_3.jpg' %}" alt="Зал ресторана" onclick="openModal(this.src)">
            </figure>
            <h3>Эксклюзивное меню</h3>
            <p>Наше меню создано для того, чтобы удовлетворить самые изысканные вкусы. Каждое блюдо – это произведение искусства, которое порадует вас не только вкусом, но и презентацией.</p>
            <figure>
                <img src="{% static 'booking_app/images/menu_1.jpg' %}" alt="Зал ресторана" onclick="openModal(this.src)">
                <img src="{% static 'booking_app/images/menu_2.jpg' %}" alt="Зал ресторана" onclick="openModal(this.src)">
                <img src="{% static 'booking_app/images/menu_3.jpg' %}" alt="Зал ресторана" onclick="openModal(this.src)">
            </figure>
            <h3>Особенности нашего ресторана</h3>
            <p>Прекрасный вид на природу, живая музыка в вечерние часы и высококлассное обслуживание сделают ваш вечер незабываемым.</p>
        </section>
    </div>
</main>
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="img01">
</div>
{% endblock %}