{% extends "base.html" %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="reviews">
    <h1>Отзывы</h1>
    <div class="review-form">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Оставить отзыв</button>
        </form>
    </div>
    <div class="review-list">
        {% for review in reviews %}
        <div class="review">
            <h3>{{ review.title }}</h3>
            <p>{{ review.review }}</p>
            <div class="star-rating">
                {% for _ in review.stars_full %}
                    <span class="star full"></span>
                {% endfor %}
                {% for _ in review.stars_empty %}
                    <span class="star empty"></span>
                {% endfor %}
            </div>
            <p>Оценка: {{ review.rating }}/5</p>
            <p>Автор: {{ review.customer.first_name }} {{ review.customer.last_name }}, {{ review.review_date }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
