{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Номера</title>
{% endblock %}
{% block content %}
<main class="container">
    <div class="back-link-container">
        <p><a href="{% url 'home' %}">Назад</a></p>
    </div>
    <h1>Наши номера</h1>
    <div>
        <h3>Питание</h3>
        <p>При бронировании номера можно выбрать один из данных типов питания:</p>
        <ul>
            {% for meal in meal_plan %}
            <li>{{ meal.type }}: {{ meal.price }} руб</li>
            {% endfor %}
        </ul>
    </div>

    <div class="grid">
        {% for room in rooms %}

        <article>
            {% if room.image_url%}
            <img src="{{ room.image_url.url}}" alt="Фото номера"/>

            {% endif %}
            <h3>Тип номера: {{ room.type }} </h3>
            <p>Описание: {{ room.description }}</p>
            <p>Цена: {{ room.price }} руб/сутки</p>

        </article>
        {% endfor %}
    </div>
</main>
{% endblock %}