{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Search Rooms</title>
{% endblock %}

{% block content %}
<!-- Список доступных номеров с ценами за разные тарифы питания -->
<div class="rooms-container">
    {% if rooms_with_meals %}
        <div class="back-link-container">
            <p><a href="{% url 'search_rooms_partner' %}">Назад</a></p>
        </div>
    {% endif %}
    {% for room_info in rooms_with_meals %}
        <div class="room">
            <h2>Номер комнаты: {{ room_info.room.number }}</h2>
            <img src="{{ room_info.room.image.url }}" alt="Room image">
            <p>Тип номера: {{ room_info.room.category }}</p>
            <p>Базовая цена: {{ room_info.room.price }} руб/сутки</p>
            <!-- Вывод цен за разные тарифы питания как ссылок -->
            {% for meal_type, price in room_info.meals.items %}
                <a href="{% url 'create_booking' %}?room_id={{ room_info.room.id }}&check_in_date={{ request.session.checkin_date }}&check_out_date={{ request.session.checkout_date }}&meal_plan={{ meal_type }}&price={{ price }}">Цена с питанием: {{ meal_type }} at {{ price }} руб/сутки</a>
            {% endfor %}
        </div>
    {% empty %}
        <div class="no-rooms">
            <br>
            <h4>Свободных номеров на эти даты нет. <a href="{% url 'search_rooms_partner' %}">Вернуться на страницу поиска.</a></h4>
        </div>
    {% endfor %}
</div>
{% endblock %}
