{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Search Rooms</title>
{% endblock %}

{% block content %}
{% if discount_message %}
<div class="discount-message">
    <p>{{ discount_message }}</p>
</div>
{% endif %}
<!-- Список доступных номеров с ценами за разные тарифы питания -->
<div class="rooms-container">
    {% if rooms_with_meals %}
    <div class="back-link-container">
        <p><a href="{% url 'home' %}">Назад</a></p>
    </div>
    {% endif %}
    {% for room_info in rooms_with_meals %}
    <div class="room">
        <h2>Номер комнаты: {{ room_info.room.number }}</h2>
        <img src="{{ room_info.room.image.url }}" alt="Room image">
        <p>Тип номера: {{ room_info.room.category }}</p>
        <!-- Вывод цен за разные тарифы питания как ссылок -->
        {% for meal_type, price in room_info.meals.items %}
        <p><a href="{% url 'booking' room_info.room.id %}?meal_plan={{ meal_type }}">Цена с питанием: {{ meal_type }}:
            {{ price }} руб/сутки</a></p>
        {% endfor %}
    </div>
    {% empty %}
    <div class="no-rooms">
        <br>
        <h4>Свободных номеров на эти даты нет. <a href="{% url 'home' %}">Вернуться на страницу поиска.</a></h4>
    </div>
    {% endfor %}
</div>
{% endblock %}
