{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>СПА</title>
{% endblock %}

{% block head %}
<script src="{% static 'booking_app/js/validation.js' %}" defer></script>
<link type="text/css" href="{% static 'booking_app/css/style.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
<main class="container">
    <div class="spa-section">
        <div class="spa-content">
            <h2>Расслабьтесь и Освежитесь</h2>
            <h3>Наши Эксклюзивные SPA Процедуры</h3>
                <p>Погрузитесь в оазис спокойствия и красоты в нашем современном SPA. Откройте для себя идеальное сочетание роскоши и лечебного облегчения с нашим широким ассортиментом процедур, предназначенных для умиротворения вашего тела и духа. От омолаживающих лицевых процедур до целостных массажных терапий, каждое лечение создано, чтобы предложить вам незабываемое путешествие расслабления.</p>
                <p>Наши квалифицированные терапевты стремятся персонализировать ваш опыт, используя только лучшие органические продукты и новаторские методики. Мы приглашаем вас расслабиться в нашей умиротворяющей атмосфере, где каждая деталь создана для улучшения вашего благополучия. Побалуйте себя нашими фирменными предложениями, включая массажи горячими камнями, сеансы ароматерапии и детоксицирующие обертывания тела, все это во время наслаждения мирной атмосферой нашего эксклюзивного убежища.</p>
                <p>Шагните в мир спокойствия и оставьте хаос за порогом. Наш SPA — это не просто лечение; это целостный опыт, который оживит ваши чувства и восполнит ваш дух. Забронируйте свой отдых сегодня и откройте для себя высшую степень расслабления и обновления.</p>
                <p><strong>Режим работы:</strong> Ежедневно с 08:00 до 22:00</p>
                <p><strong>Телефон:</strong> +7 (495) 765-55-44</p>
        </div>
        <figure class="spa-image">
            <img src="{% static 'booking_app/images/spa_1.jpeg' %}" alt="SPA Image">
            <img src="{% static 'booking_app/images/spa_2.jpg' %}" alt="SPA Image">
        </figure>
    </div>
</main>
<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="img01">
</div>
{% endblock %}



