.overlay-form {
    position: absolute;
    top: 12.5%; /* Moved up from the center */
    left: 50%;
    transform: translate(-50%, -12.5%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 8px;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row; /* Измените на row, чтобы сделать расположение горизонтальным */
    align-items: flex-start; /* Выравнивание элементов по началу контейнера */
}

.form-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 5px; /* Расстояние между элементами формы */
}

#checkin-date, #checkout-date, #room-type, #guests{
    color: #FFFFFF
}

figure.fullscreen-img {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

img.fullscreen-img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    filter: brightness(60%);
}

@media (max-width: 800px) {
    .overlay-form {
        flex-direction: column;
        transform: translate(-50%, -50%);
        top: 25%;
    }
}

.grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
}
article {
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 1rem;
}
img {
        max-width: 100%;
        height: auto;
        border-radius: 0.5rem;
}
@media (max-width: 800px) {
    .grid {
            grid-template-columns: 1fr;
    }
}