{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link type="text/css" href="{% static 'booking_app/css/style.css' %}" rel="stylesheet" />
    {% block head %}
    {% endblock %}
    {% block title %}
    <title>Hotel Homepage</title>
    {% endblock %}
</head>
<body>

    <nav>

            <div class="class_logo">
               <ul>
                    <li><img src="{% static 'booking_app/images/logo.png' %}" alt="BookEasy Logo" class="logo"></li>
                </ul>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'about' %}">Об отеле</a></li>
                    <li><a href="{% url 'rooms' %}">Номера и цены</a></li>
                    <li><a href="{% url 'login_or_register' %}">Партнерам</a></li>
                    <li><a href="{% url 'stocks' %}">Акции</a></li>
                    <li><a href="{% url 'entertainment' %}">Развлечения</a></li>
                    <li><a href="{% url 'restaurant' %}">Рестораны</a></li>
                    <li><a href="{% url 'spa' %}">СПА</a></li>
                    <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                    <li><a href="{% url 'contact' %}">Контакты</a></li>
                </ul>

        </div>


    </nav>

<section>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</section>
<footer>
    <div class="container footer-container">
        <div class="address">
            <p><strong>Адрес</strong>:649109 Республика Алтай, Майминский район, село Урлу-Аспак</p>
            <p><strong>Телефон</strong>: +7 (999) 139-59-54 (Круглосуточно 24/7)</p>
        </div>
    </div>
</footer>

</body>
</html>
